li {
	display: inline-block;
	margin-top: 10px;
	min-width: 30px;
	border: 1px solid black;
	border-radius: 3px; 
	text-align: center;
	background: #C7CBD1;
}

ul {
	background: #F2F2F2;
	height: 50px;
}

.first {
	margin-left: 50%;
	background: #EBEDEF;
}

a {
	text-decoration: none;
	color: black;
	padding: 5px;
}

a:hover {
	color: #FF9800;
	border-bottom: 1px dashed #FF9800;
}