html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 450px;
    height: 335px;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    color: white;
}

.layout-position {
    margin-left: 50px;
    margin-right: 50px;
    
}





.layout-position:after {
    content: "";
    display: table;
    clear: both;
}

.header-top {
    background: #c0392b;
    padding: 5px;
    height: 25px;
    margin-bottom: 10px;
    
    
}

.header-menu {
    background: #3498DB;
    padding-top: 5px;
    padding-left: 55px;
    height: 30px
}

.promo {
    width: 160px;
    min-height: 50px;
    background: #c0392b;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px
}

.promo1 {
}

.promo2 {
    margin-left: 10px;
}

.header {
    background: #34495e;
    padding-top: 10px;
}

.colloum {
    background: #3498DB;
    float: left;
    margin-right: 10px;
    padding: 5px;
    height: 100px;
    width: 60px;
}

.colloum-right {
    margin-right: 0px;    
}

.colloum-main {
    width: 180px
}

.footer {
    background: #34495e;
    padding: 5px 55px;
    margin-top: 10px;
    padding-bottom: 20px;
}
